<header class="page__header header">
    <div class="container">
        <div class="page__header__loyout">
            <div class="page__header__logo">
                <img alt="" src="../img/logo.png">
            </div>
            <div class="page__header__contact">
                <div class="page__header__link">
                    <ul>
                        <li><a href="#">о бренде</a></li>
                        <li><a href="#">продукция</a></li>
                        <li><a href="#">как купить</a></li>
                        <li><a href="#">дистрибьюторы</a></li>
                        <li><a href="#">обучение</a></li>
                        <li><a href="#">контакты</a></li>
                    </ul>
                </div>
                <div class="page__header__toggle-lang">
                    <label class="switch">
                        <input id="toggleHeader" type="checkbox">
                        <span class="slider">
                          </span>
                        <div class="switch_name">
                            <div class="ru">рус</div>
                            <div class="ua active-toggle">укр</div>
                        </div>
                    </label>
                </div>
                <div class="page__header__btn">
                    <a href="#">получить прайс</a>
                </div>
            </div>
            <div class="box-menu">
                <div class="btn-menu not-active-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
