<main class="section">
    <div class="section__1__title">
        <h2>инновационный подход к коже</h2>
        <p>Известная израильская косметика
            для профессионалов уже в Украине! </p>
        <div class="section__1__btn btn-block">
            <a class="btn-blue" href="#">купить</a>
        </div>
    </div>
    <div class="section__1">
        <div class="section__1__img-group">
            <div class="section__1__bubble-group">
                <div class="section__1__bubble-block-right section__1__bubble-block">
                    <img class="section__1__bubble-r section__1__bubble"
                         src="./../img/sections/s_1/bubble-right255_5.png" alt="">
                </div>
                <div class="section__1__bubble-block-center section__1__bubble-block">
                    <img class="section__1__bubble-c section__1__bubble"
                         src="./../img/sections/s_1/bubble-right255_5.png" alt="">
                </div>
                <div class="section__1__bubble-block-left section__1__bubble-block">
                    <img class="section__1__bubble-l section__1__bubble"
                         src="./../img/sections/s_1/bubble-left255_5.png" alt="">
                </div>
            </div>
            <div class="section__1__bg-group">
                <img class="section__1__bg-bottom section__1__img"
                     src="./../img/sections/s_1/background.png">
                <div class="section__1__items-group">
                    <div class=".section__1__item section__1__item-l">
                        <img src="./../img/sections/s_1/Lazy-Lady_1.png" alt="">
                    </div>
                    <div class=".section__1__item section__1__item-c">
                        <img src="./../img/sections/s_1/S-meso_1.png" alt="">
                    </div>
                    <div class=".section__1__item section__1__item-r">
                        <img src="./../img/sections/s_1/Rich-Creame-and-Mask_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
